## Block all files
*

## Now allow stuff

!*.md
!Makefile

!.gitignore

!*.sh

!*.tla

## Allow TLC model config and results
!*.cfg
!*.out

## Allow Toolbox model metadata
!*.launch

## Allow Toolbox spec metadata
!.project
!*.prefs

## Allow all folders
#!*/

## quint spec
!*.qnt

## Blacklist TLAPS cache folder
## See https://github.com/tlaplus/tlapm/issues/16
__tlacache__
.tlacache

## Blacklist Snapshots
*/*SnapShot*

#_apalache-out
